body {
    margin: 0;
    padding: 0;
    font-family: 'Odibee Sans', Courier, monospace;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.title,
.section5 {
    background-color: #b8aec8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 150px;
    flex-wrap: wrap;
}

ul,
.title_1,
.title_2 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: rgb(219, 28, 237);
    text-decoration: none;
    font-size: 20px;
}

.title_1 {
    flex-direction: column;
    max-width: 350px;
}

.logo {
    width: auto;
    height: 50px;
}

.title_2 {
    flex-direction: column;
    max-width: 650px;
}

button {
    transition: 0.25s;
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(218, 63, 238);
    font-size: 16px;
}

button:hover {
    transition: 0.25s;
    background-color: #a57fe1;
    box-shadow: -5px 8px rgb(51, 51, 51);
}

button:after {
    transition: 0.25s;
}

.title_p {
    font-size: 18px;
    color: black;
}

.section2,
.section3,
.section4 {
    background-color: black;
    text-align: center;
}

.section2 {
    padding-top: 15px;
}

.content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.content_img {
    width: auto;
    height: 250px;
    transition: 0.25s;
    filter: drop-shadow(5px 5px 5px rgb(135, 61, 135));
    margin-bottom: 25px;
}

h2,
h4,
h5 {
    margin: 0;
    color: rgb(238, 63, 136);
}

.content_img:hover {
    transition: 0.25s;
    filter: drop-shadow(8px 8px 8px rgb(255, 0, 204));
}

.content_img:after {
    transition: 0.25s;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
}

.section4 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    gap: 25px;
    flex-wrap: wrap;
}

h3 {
    color: white;
    filter: drop-shadow(2px 2px 2px rgb(255, 0, 204))
}

input {
    width: auto;
    box-sizing: border-box;
    margin: 5%;
}

.register {
    padding-top: 15px;
}

.userInfo {
    transition: 0.25s;
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(238, 63, 136);
    font-size: 16px;
    margin-bottom: 25px;
}